#!/bin/bash

DIR="$( cd "$( dirname "$BASH_SOURCE" )" && pwd -P )"

# references
. ${DIR}/functions

# check format
if [ $# != 1 ]; then
	msg "Format error"
	exit 1
else
	version=$1
	# parameter check: higher or lower than 3?
	if [ ${True} -eq "$(echo "${version} < 3" | bc)" ]; then
		version=2.7
		python_def ${version}
	else
		python3_def ${version}
	fi	
fi
